@using Tras.Core.Domain.Common
@model DateTime?
@{
    var classColMd = ViewData.ModelMetadata.AdditionalValues.ContainsKey("input-size") ? ViewData.ModelMetadata.AdditionalValues["input-size"] : 12;

    var htmlAttributes = (IDictionary<string, object>)ViewData["htmlAttributes"];
    htmlAttributes["class"] = "form-control " + (htmlAttributes.Keys.Contains("class") ? htmlAttributes["class"] : "");
    htmlAttributes["placeholder"] = "dd-mm-yyyy";

    string label = string.Format("{0}{1}", ViewData.ModelMetadata.DisplayName, ViewData.ModelMetadata.IsRequired ? " *" : "");
}

<div class="form-group col-md-@classColMd">
    @Html.Label(label, new
    {
        @for = ViewData.ModelMetadata.PropertyName,
        @class = "pad-right"
    })
    @Html.ValidationMessage(ViewData.ModelMetadata.PropertyName, "", new
    {
        @class = "text-danger"
    })
    <div class="input-group date bootstrap-datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        @Html.TextBox(ViewData.ModelMetadata.PropertyName,
            Model.HasValue && Model.Value != DateTime.MinValue ? Model.Value.ToString("dd/MM/yyyy") : string.Empty, htmlAttributes)
    </div>
</div>
